h1 {
    text-align: center;
    padding: 20px;
}

.form-control {
    text-align: center;
}

.table {
    text-align: center;
}

.table input {
    text-align: center;
    border: 1px solid rgb(160, 160, 160);
}