{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sobre nós / Teste de Tukey</title>
    <meta charset="utf-8">
    <meta name="author" content="Till Duo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-whats-tukey-test">
    <a class="navbar-brand">Sobre a Ferramenta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content-navbar"
            aria-controls="content-navbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="content-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'whats_tukey_test' %}">O que é o Teste de Tukey?</a>
            </li>
        </ul>
        <a class="nav-link" href="/" id="do-test"> Fazer o Teste de Tukey</a>
    </div>
</nav>

<div class="container col-md-6">
    <br>
    <br>
    <h4>
        Sobre a Ferramenta
    </h4>

    <p>
        Esta ferramenta foi desenvolvida por Igor Lourenço dos Santos e Thalyson Lira Nunes, sob orientação do
        Professor Doutor Antonio Rafael de Souza Alves Bôsso, para a disciplina de Estágio Supervisionado, do 6º
        Período do curso de Sistemas de Informação da Universidade Estadual do Tocantins (Unitins).
    </p>

    <p>
        Para a construção do software, foi necessário que estudássemos a fundo o conceito e a prática do do Teste de
        Tukey, ANOVA em geral e comparação entre grupos de tratamento, com a ajuda do Prof. Dr. Bôsso. Tendo abstraído
        isto, procuramos tornar a aplicação do Teste de Tukey mais simples, didática e dinâmica, tornando as etapas do
        teste mais visíveis, explicando o que acontece em cada uma, seus conceitos e a relevância do que está sendo
        feito para o resultado final.
    </p>
    <br>
    <br>
    <center>
        <a class="btn btn-dark" href="/"> Iniciar o Teste de Tukey</a>
    </center>
</div>


</body>

</html>