{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dados / Teste de Tukey</title>
    <meta charset="utf-8">
    <meta name="author" content="Till Duo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript">
        window.onload = function () {

        }
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-home">
    <a class="navbar-brand">Teste de Tukey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content-navbar"
            aria-controls="content-navbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="content-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'whats_tukey_test' %}">O que é o Teste de Tukey?</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre a Ferramenta</a>
            </li>
        </ul>
        <a class="nav-link" href="/" id="do-test"> Fazer o Teste de Tukey</a>
    </div>
</nav>

<div class="container">
    <div>
        <h4>Etapa 2 - Entrada dos dados coletados</h4>
        <p>
            Na primeira etapa, você informou o número de <b>Tratamentos <i>(k)</i></b>, <b>Repetições <i>(n)</i></b> e o
            <b>Nível de Significância <i>(Alfa)</i></b>. Com os cálculos que explicamos na Etapa 1, foram obtidos os
            seguintes resultados:
        </p>
    </div>
    <div>
        <center>
            <table class="table">
                <tr>
                    <th scope="row">Tratamentos (k)</th>
                    <td>
                        <center>{{ k }}</center>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Repetições (n)</th>
                    <td>
                        <center>{{ n }}</center>
                    </td>
                </tr>
                {% for item in items %}
                    <tr>
                        <th scope="row">GL{{ forloop.counter }}</th>
                        <td>
                            <center>{{ item }}</center>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row">Amplitude Estudentizada <i>(q)</i></th>
                    <td>
                        <p {% if q == "Valor desconhecido" %} style="color:red" {% endif %}> {{ q }} </p>
                    </td>
                </tr>
            </table>
        </center>
    </div>

    <hr>
    <hr>

    <div>
        <div>
            <h4>Tratamentos</h4>
            <p>
                Com isso, informe-nos os dados coletados, para que seja feita a comparação entre as amostras:
            </p>
        </div>
        <form action="{% url 'calcule_tukey' %}" id="calcule_tukey">
            {% csrf_token %}
            <center>
                <table class="table">
                    {% for row in table %}
                        <tr>
                            {% for cell in row %} {% if forloop.first or forloop.parentloop.first %}
                                <th scope="row">
                                    {% else %}
                                <td>
                            {% endif %} {% if forloop.first or forloop.parentloop.first %} {{ cell }}
                                </th>
                            {% else %}

                                <input class="form-control" value="{{ cell }}" type="number" step="0.25" min="0"
                                       id="cell_{{ forloop.parentloop.counter|add:'-2' }}_{{ forloop.counter|add:'-2' }}"
                                       name="cell_{{ forloop.parentloop.counter|add:'-2' }}_{{ forloop.counter|add:'-2' }}">
                                </td>
                            {% endif %} {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button class="btn btn-dark" type="submit"> Calcular </button>
            </center>
        </form>
        <br>
        <br>
    </div>
</div>

</body>

</html>