{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Conceito / Teste de Tukey</title>
    <meta charset="utf-8">
    <meta name="author" content="Till Duo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-whats-tukey-test">
    <a class="navbar-brand">O que é o Teste de Tukey?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content-navbar"
            aria-controls="content-navbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="content-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_tool' %}">Sobre a Ferramenta</a>
            </li>
        </ul>
        <a class="nav-link" href="/" id="do-test"> Fazer o Teste de Tukey</a>
    </div>
</nav>

<div class="container col-md-6">
    <br>
    <br>
    <h4>
        O Que é Teste de Tukey?
    </h4>

    <p>
        Também conhecido como Teste de Tukey HSD (Teste de Tukey da Diferença Honestamente Significativa), o Teste de
        Tukey se destaca dos outros métodos de múltiplas por ter uma fácil aplicação e ser poderoso, pois compara todas
        as médias entre si.
    </p>

    <blockquote class="blockquote">
        <p class="mb-0">Uma resposta aproximada para um problema certo vale muito mais do que uma resposta exata para um
            problema aproximado.</p>
        <footer class="blockquote-footer">John Wilder <cite title="Source Title">Tukey</cite></footer>
    </blockquote>

    <p>
        Foi apresentado no artigo <i>“Comparing Individual Means in the Analysis of Variance”</i> (Biometrics. 5 (2):
        99–114. JSTOR 3001913) em 1949, por John Wilder Tukey, a quem deve-se o nome do teste. Raramente os testes de
        comparação múltipla são exatos como o Teste de Tukey, por não controlarem o nível de significância
        <b><i>(Alfa)</i></b>. Utilizando a HSD (que é explicada aqui, no decorrer da execução do teste), é feita a
        comparação entre as médias, verificando a equivalência entre elas a fim de esclarecer quais as amostras são
        "iguais" ao serem aplicadas na prática.
    </p>
    <br>
    <br>
    <center>
        <a class="btn btn-dark" href="/"> Iniciar o Teste de Tukey</a>
    </center>
</div>

</body>

</html>